.fps-display {
  position: absolute;
  right: 4px;
  bottom: 4px;
  padding: 4px 8px;
  z-index: 100;
  font-size: 12px;
  background: rgba($color: #000000, $alpha: 0.6);
  color: #fafafa;
  border-radius: 4px;
  user-select: none;

  .value {
    margin-left: 4px;
    &.good {
      color: #8bc34a;
    }
    &.bad {
      color: #ff5722;
    }
  }

  &:hover {
    background: rgba($color: #000000, $alpha: 0.8);
  }
}
