$btn-size: 50px;

.gamepad {
  position: absolute;
  bottom: 16px;
  left: 0px;
  z-index: 3;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  width: 100%;
  height: $btn-size * 3;
  box-sizing: border-box;
  user-select: none;

  .dir-control {
    width: $btn-size * 3;
    height: $btn-size * 3;

    > .row {
      display: flex;
      justify-content: center;

      &:nth-child(2) {
        justify-content: space-between;
      }
    }
  }

  .speed-control {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .btn {
    width: $btn-size;
    height: $btn-size;
    background: rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    border-radius: 100%;
    transition: all 0.1s ease;
    text-align: center;
    line-height: $btn-size;
    color: orange;
    user-select: none;

    &:active {
      background: rgba(0,0,0,0.2);
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    }
  }
}