@import './score-display.scss';
@import './health-bar.scss';

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  .overlay {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    color: #ffc107;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 1px 1px #333;

    &.game-start,
    &.game-pause,
    &.game-over {
      display: none;
    }

    &.game-over {
      flex-direction: column;
    }
  }
}

.hud {
  display: flex;
  align-items: center;
  width: 100%;
}

.fps {
  position: absolute;
  right: 4px;
  bottom: 4px;
  padding: 4px 8px;
  z-index: 100;
  font-size: 12px;
  background: rgba($color: #000000, $alpha: 0.4);
  color: #fafafa;
  border-radius: 2px;
  user-select: none;

  .value {
    margin-left: 4px;
    &.good {
      color: #8bc34a;
    }
    &.bad {
      color: #ff5722;
    }
  }

  &:hover {
    background: rgba($color: #000000, $alpha: 0.6);;
  }
}

.rabbit {
  background-position: -32px -48px;
  opacity: 1;
  animation: rabbit-animation 2s linear infinite;
}

@keyframes rabbit-animation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
