@import './fps-display.scss';
@import './hud.scss';
@import './rabbit.scss';
@import 'style/map.scss';
@import 'style/snake.scss';

html,
body, * {
  margin: 0px;
  padding: 0px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  .overlay {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    color: #ffc107;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 1px 1px #333;

    &.game-start,
    &.game-pause,
    &.game-over {
      display: none;
    }

    &.game-over {
      flex-direction: column;
    }
  }
}
